<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <title>Recommendations</title>
    </head>
    <body>
        <div class="top-bar">
            <a href="/">Home</a>
            <a class="active" href="/recommendations">Get Song Recommendations</a>
            <a href="/playlists">Public Playlists</a>
        </div>
        <div>
            <h1>MusicFYP</h1>
        </div>
        <br>

        Added the following songs to the <%- name %> Playlist: 
        <br>
        1. <%- rec1 %>
        <br>
        2. <%- rec2 %>
        <br>
        3. <%- rec3 %>
        <br>
        4. <%- rec4 %>
        <br>
        5. <%- rec5 %>
    </body>
</html>